[Unit]
Description=Passemu service daemon

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/opt/passemu/passemu /dev/null
Type=forking
PIDFile=/var/run/powerd.pid
Environment=HOME=/home/gkrikhan

